<%= form_with(model: stop_time, local: true) do |form| %>
  <% if stop_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stop_time.errors.count, "error") %> prohibited this stop_time from being saved:</h2>

      <ul>
      <% stop_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :trip_id %>
    <%= form.text_field :trip_id, id: :stop_time_trip_id %>
  </div>

  <div class="field">
    <%= form.label :arrival_time %>
    <%= form.time_select :arrival_time, id: :stop_time_arrival_time %>
  </div>

  <div class="field">
    <%= form.label :departure_time %>
    <%= form.time_select :departure_time, id: :stop_time_departure_time %>
  </div>

  <div class="field">
    <%= form.label :stop_id %>
    <%= form.number_field :stop_id, id: :stop_time_stop_id %>
  </div>

  <div class="field">
    <%= form.label :stop_sequence %>
    <%= form.number_field :stop_sequence, id: :stop_time_stop_sequence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
